*{ 
	margin: 0; 
	padding: 0; 
}*
:focus, :active { 
	outline: 0; 
}
body { 
	font: .9em Georgia, "Times New Roman", Sans-Serif; 
	background: #fff url(../images/bg.gif) repeat-x; 
	color: #333; 
	margin: 0 auto; 
	width: 900px;
}
a { 
	color: #A82A15; 
	text-decoration: none; 
}
img { 
	border: 0; 
}
h1 {  
	float: left; 
	margin: 25px; 
	font-size: 3em; 
	color: #fff; 
}
body h2 { 
	color: #F31515;
	font-size: 2em; 
	font-weight: normal; 
	margin: 10px 0 10px; 
}
body h3 { 
	font-size: 1em; 
	font-weight: normal; 
}
header nav { 
	float: right; 
	margin: 38px 0 45px;
	font-weight: bold;
}
header nav li { 
	list-style: none; 
	display: inline; 
}
header nav li a { 
	float: left; 
	padding: 6px 20px; 
	margin: 3px 2px 0 0; 
	color: #ccc; 
}
header nav li a:hover { 
	background: #808080; 
	color: #fff; 
}
body article {
	float: left; 
	width: 100%; 
	margin: 0px 25px 25px;
}
footer { 
	clear: both; 
	padding: 15px; 
	border-top: 1px solid #ccc;
	text-align: center;

}
figure {
	border-style:solid;
	border-color:#fff;
	border-width:10px;
	clear: both;
 	margin-left: 10%;
	margin-right: 10%;
 	text-align:center;
}
article aside {
	font-style:italic;
	padding:10px;
}

table, th, td {
    border: 1px solid black;
    padding:5px;
    width:200px;
}
table thead {
    font-weight: bold;
}
tr:nth-child(even) { 
    background-color:#F0F0F0; 
}
p { 
    font-style:italic;
    font-weight: bold;
}
article h3:empty:after
{ 
content:"Crap! It look's like someone forgot to fill in the blanks between an article's h3 tags!";
}
blockquote {
    font-style:italic;
    text-indent:30px;
}
blockquote:after
{ 
content:"\"";
}
blockquote:before
{ 
content:"\"";
}
body {
    counter-reset: chapter;
}
article h2:before {
    content: counter(chapter) ". ";
    counter-increment: chapter;
}
article h2 {
    counter-reset: section;
}
article h3:before {
    content: counter(chapter) "." counter(section) " ";
    counter-increment: section;
}

